#pageLoader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #2a3f547d   no-repeat center center;
    z-index: 10000;
}
#pageLoader .loadercustom {
    position: fixed;
    top: 54%;
    left: 53%;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: #ffffffdb;
}

.card-header-custom-color:not(.card-outline)>.card-header{
    background: #dc3545 !important;
    color:#ffffff;
    border: none;
}
/**
        custom btn csss
 */
.btn-black{
    background-color: #4f5962;
    border-color: #4f5962;
    color: #ffffff;
}
.btn-black:hover{
    /*background-color: #4f5962;*/
    /*border-color: #4f5962;*/
    color:#dc3545;
}


/**
    image gallary custom css
 */
.ekko-lightbox-nav-overlay a{
    color: #dc3545 !important;
}

/**
custom primary button css
 */
.btn-primary-custom{
    background-color: #40bac0 !important;
    border-color: #40bac0 !important;
    color:#ffffff;
}
.custom-label{
    padding: 1px 17px 2px 16px;
    border-radius: 5px;
    font-size: 13px;
}
.custom-label-primary{
    background-color:#dc3545 ;
    color:#ffffff;
}
.custom-label-success{
    background-color:#4CAF50 ;
    color:#ffffff;
}
.custom-label-info{
    background-color:#2196F3 ;
    color:#ffffff;
}
.custom-label-warning {
    background-color:#ff9800 ;
    color:#ffffff;
}
.custom-label-warning {
    background-color:#ff9800 ;
    color:#ffffff;
}
.custom-label-danger  {
    background-color:#f44336 ;
    color:#ffffff;
}

/**
    Custom Pagination link scs
 */
.page-item.active .page-link{
    background-color: #dc3545 !important;
    border-color:#dc3545 !important;
    color:#fff !important;
}
.page-link:hover{
    color: #dc3545 !important;
}
.page-link{
    color: #dc3545 !important;
}

/**
    custom file input css
 */
    div.file {
        position: relative;
        overflow: hidden;
    }
div.file   input {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
            top: 0;
        }

/**
        image overlay div css
 */
.image-div {
    position: relative;
    width: 150px;
}

.custom-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-div:hover .image {
    opacity: 0.3;
}

.image-div:hover .middle {
    opacity: 1;
}

.custom-img-text {
    /*background-color: #4CAF50;*/
    color: white;
    font-size: 16px;
    /*padding: 16px 32px;*/
}


